# Sui
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_PACKAGE_ID=
ADMIN_PRIVATE_KEY=

# Enoki
NEXT_PUBLIC_ENOKI_PUBLIC_KEY=
ENOKI_SECRET_KEY=

# OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Walrus
WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
NEXT_PUBLIC_WALRUS_AGGREGATOR=https://aggregator.walrus-testnet.walrus.space

# Database
DATABASE_URL=postgresql://morita:morita_pwd@localhost:5432/morita

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
