# Sui
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_PACKAGE_ID=
ADMIN_PRIVATE_KEY=

# Enoki
NEXT_PUBLIC_ENOKI_PUBLIC_KEY=
ENOKI_SECRET_KEY=

# OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Walrus Harbor
WALRUS_HARBOR_URL=https://api.testnet.harbor.walrus.xyz
WALRUS_HARBOR_API_KEY=
WALRUS_HARBOR_BUCKET_ID=
NEXT_PUBLIC_HARBOR_BUCKET_ID=

# Database
DATABASE_URL=postgresql://morita:morita_pwd@localhost:5432/morita

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
